body{
          background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%)!important;
         //linear-gradient(to bottom, #b5bdc8 0%, #828c95 36%, #e3f2fd 100%);
}
.header_borviha{
    box-shadow: 10px 10px 10px rgba(19,101,159,0.8);
    background: url("/template/images/header/borviha.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;	 
    position:relative;
    min-height:500px;
}
.big-show a{
    text-decoration: none !important;
    color:red;
}
.des{
    background-color:rgba(19,101,159,0.5);
    height:inherit;
    color:white;
    text-align:left;
    position:absolute;
    z-index: 1;
    right:0px;
    top:0px;
    opacity:0;
    transition: 0.7s opacity;
}
.header_borviha:hover .des{
    opacity:  0.8;
}
.header_borviha_plus{
    box-shadow: 10px 10px 10px rgba(19,101,159,0.8);
    background: url("/template/images/header/borviha_plus.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;	 
    position:relative;
    min-height:500px;
}
.header_borviha_plus:hover .des{
    opacity:  0.8;
}
.card_update{
    display: none;
}
.card:hover .card_update{
    display: block;
}
.header,.card_pad{
    margin-bottom: 15px;
}
.scroll-image-card:hover{
     border:2px solid yellow;
}
.scroll-image-active{
    border:2px solid yellow;
}


 




.big-show-text{
	color:white;
	padding-top: 20%;
	display: none;
   transition: 2s;
}

.big-show:hover .big-show-text{
	//display: block;
	transform: rotate(45deg);
	color:red;
}

.big-show-text p,h3{
	text-decoration: none;
}
a{
	text-decoration: none;
}
footer{
	margin-top: 100px;
}
h3{
	color:white;
}
#reg-form{
	position:relative;
}
.pole{
	width:170%;
	height:200px;
	position:absolute;
	left:-70%;
	top:120%;
	z-index: 2;
	border-radius: .25rem;
	border:1px solid #28a745;
	background-color:#e3f2fd;
	display:none;
}
.aut{
	max-width:100%;
	margin:10px 12px;
}
.chek{
	max-width:50%;
	float: right;
	margin:10px 20px 0 0;
	margin-right:5px;
}
.subm{
	margin-left:10px;
	padding:5px 20px 5px 20px !important;
	}
.reg{
	margin:10px 12px;
	padding: 2% 20% 2% 20% !important;
}
.wrap_log{
	display:flex;
	align-items: center;
}
.name_log{
	margin:0 20px;
}


